name: cellranger_count
namespace: cellranger
description: Align fastq files using Cell Ranger count.
keywords: [ cellranger, single-cell, rna-seq, alignment, count ]
links:
  documentation: https://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/using/count 
  repository: https://github.com/10XGenomics/cellranger/blob/main/bin/sc_rna/count
  homepage: https://www.10xgenomics.com/support/software/cell-ranger/latest
  issue_tracker: https://github.com/10XGenomics/cellranger/issues
references:
  doi: 10.1038/ncomms14049
license: Copyright (c) 2023 10x Genomics
authors:
  - __merge__: /src/_authors/emma_rousseau.yaml
    roles: [ author ]
argument_groups:
  - name: Inputs
    arguments:
      - name: --input
        type: file
        required: true
        multiple: true
        example: [ "sample_S1_L001_R1_001.fastq.gz", "sample_S1_L001_R2_001.fastq.gz" ]
        description: The fastq.gz files to align. Can also be a single directory containing fastq.gz files.
      - name: --reference
        type: file
        required: true
        description: The path to Cell Ranger reference tar.gz file. Can also be a directory.
        example: reference.tar.gz
  - name: Outputs
    arguments:
      - name: --output
        type: file
        direction: output
        description: The folder to store the alignment results.
        example: "/path/to/output"
        required: true

  - name: Arguments
    arguments:
      - name: --expect_cells
        type: integer
        example: 3000
        description: "Expected number of recovered cells, used as input to cell calling algorithm."

      - name: "--force_cells"
        type: integer
        example: 3000
        description: "Force pipeline to use this number of cells, bypassing cell calling algorithm."

      - name: --chemistry
        type: string
        example: "auto"
        description: |
          Assay configuration.
          - auto: autodetect mode
          - threeprime: Single Cell 3'
          - fiveprime: Single Cell 5'
          - SC3Pv1: Single Cell 3' v1 
            NOTE: this mode cannot be auto-detected. It must be set explicitly with this option.
          - SC3Pv2: Single Cell 3' v2
          - SC3Pv3: Single Cell 3' v3
          - SC3Pv4: Single Cell 3' v4
          - SC3Pv3LT: Single Cell 3' v3 LT
          - SC3Pv3HT: Single Cell 3' v3 HT
          - SC5P-PE-v3: Single Cell 5' paired-end v3 (GEM-X)
          - SC5P-PE: Single Cell 5' paired-end
          - SC5P-R2: Single Cell 5' R2-only
          - SC-FB: Single Cell Antibody-only 3' v2 or 5'
          - ARC-v1: for analyzing the Gene Expression portion of Multiome data. 
            NOTE: when the pipeline auto-detects ARC-v1 chemistry, an error is triggered.
          See https://kb.10xgenomics.com/hc/en-us/articles/115003764132-How-does-Cell-Ranger-auto-detect-chemistry- for more information.
        choices: [ auto, threeprime, fiveprime, SC3Pv1, SC3Pv2, SC3Pv3, SC3Pv4, SC3Pv3LT, SC3Pv3HT, SC5P-PE-v3, SC5P-PE, SC5P-R2, SC-FB, ARC-v1 ]

      - name: "--secondary_analysis"
        type: boolean_true
        description: Whether or not to run the secondary analysis e.g. clustering.

      - name: "--generate_bam"
        type: boolean_false
        description: Whether to generate a BAM file.
        
      - name: "--include_introns"
        type: boolean_false
        description: Include intronic reads in count.

      - name: --r1_length
        type: integer
        description: "Hard trim the input Read 1 to this length before analysis"
        
      - name: "--r2_length"
        type: integer
        description: "Hard trim the input Read 2 to this length before analysis"        
        
      - name: --lanes
        multiple: true
        type: integer
        description: Only use FASTQs from selected lanes.
        example: [1,2,3]

      - name: "--library_compatibility_check"
        type: boolean_false
        description: |
          Whether to check for barcode compatibility between libraries.

      - name: "--min_crispr_umi"
        type: integer
        description: |
          Set the minimum number of CRISPR guide RNA UMIs required for protospacer detection.
          If a lower or higher sensitivity is desired for detection, this value can be customized
          according to specific experimental needs. Applicable only to datasets that include a
          CRISPR Guide Capture library.

resources:
  - type: bash_script
    path: script.sh
test_resources:
  - type: bash_script
    path: test.sh

engines:
  - type: docker
    image: quay.io/nf-core/cellranger:8.0.0
    setup:
      - type: docker
        run: |
          DEBIAN_FRONTEND=noninteractive apt update && \
          apt upgrade -y && apt install -y procps && rm -rf /var/lib/apt/lists/*
      - type: docker
        run: |
          cellranger --version | sed 's/ cellranger-/: /' > /var/software_versions.txt

runners:
  - type: executable
  - type: nextflow
    directives:
      label: [ highmem, highcpu ]