*.DS_Store
*__pycache__

# IDE ignores
.idea/
.vscode/

# R specific ignores
.Rhistory
.Rproj.user
*.Rproj

# viash specific ignores
target/
seqtk_sample_*
output/
Nanoplot_*

# nextflow specific ignores
.nextflow*
work