name: agat_convert_sp_gff2zff
namespace: agat
description: |
    The script converts GTF/GFF file into zff file a format used by the ab
    initio tool SNAP. The script produces a .ann file containing the
    annotation and .dna file containing the fasta file. The .ann and .dna
    are identicaly sorted by sequence identifier (This is mandatory for
    usage with fathom).
keywords: [gene annotations, GFF conversion, ZFF]
links:
  homepage: https://github.com/NBISweden/AGAT
  documentation: https://agat.readthedocs.io/en/latest/tools/agat_convert_sp_gff2zff.html
  issue_tracker: https://github.com/NBISweden/AGAT/issues
  repository: https://github.com/NBISweden/AGAT
references: 
  doi: 10.5281/zenodo.3552717
license: GPL-3.0
requirements:
  - commands: [agat]
authors:
  - __merge__: /src/_authors/leila_paquay.yaml
    roles: [ author, maintainer ]
argument_groups:
  - name: Inputs
    arguments:
      - name: --gff
        description: Input GTF/GFF file.
        type: file
        required: true
        direction: input
        example: input.gff
      - name: --fasta
        description: Input fasta file.
        type: file
        required: true
        direction: input
        example: input.fasta
  - name: Outputs
    arguments:
      - name: --output_dir
        description: |
          Directory where will be written the results.
        type: file
        direction: output
        required: true
        example: output_dir
      - name: --output
        alternatives: [--outfile, --out, -o]
        description: |
          File prefix where will be written the results (e.g. outfile.ann and outfile.dna).
        type: string
        required: true
        example: output
  - name: Arguments
    arguments:
      - name: --config
        alternatives: [-c]
        description: |
          AGAT config file. By default AGAT takes the original agat_config.yaml shipped with AGAT. The `--config` option gives you the possibility to use your own AGAT config file (located elsewhere or named differently).
        type: file
        required: false
        example: custom_agat_config.yaml
resources:
  - type: bash_script
    path: script.sh
test_resources:
  - type: bash_script
    path: test.sh
  - type: file
    path: test_data
engines:
  - type: docker
    image: quay.io/biocontainers/agat:1.4.0--pl5321hdfd78af_0
    setup:
      - type: docker
        run: |
          agat --version | sed 's/AGAT\s\(.*\)/agat: "\1"/' > /var/software_versions.txt
runners:
  - type: executable
  - type: nextflow