name: spaceranger_count
namespace: spaceranger
description: Count gene expression and protein expression reads from a single capture area.
keywords: [spaceranger]
links:
  documentation: https://www.10xgenomics.com/support/software/space-ranger/latest/analysis/running-pipelines/space-ranger-count
authors:
  - __merge__: /src/_authors/jakub_majercik.yaml
    roles: [ author ]
argument_groups:
  - name: Inputs
    arguments:
      - type: string
        name: --id
        required: true
        description: A unique run id and output folder name
        example: "visium_run_1"

      - type: file
        name: --transcriptome
        required: true
        description: Path of folder containing 10x-compatible reference
        example: "/path/to/refdata-gex-GRCh38-2020-A"

      - type: file
        name: --fastqs
        required: true
        description: Path to input FASTQ data
        example: "/path/to/fastq_folder"

      - type: file
        name: --probe_set
        required: true
        description: CSV file specifying the probe set used
        example: "Visium_Human_Transcriptome_Probe_Set_v2.0_GRCh38-2020-A.csv"

      - type: file
        name: --cytaimage
        required: true
        description: Brightfield image generated by the CytAssist instrument
        example: "cyta_image.tif"

      - type: file
        name: --image
        required: true
        description: Single H&E brightfield image in TIFF or JPG format
        example: "brightfield.tif"

  - name: Slide Information
    arguments:
      - type: string
        name: --slide
        description: Visium slide serial number (e.g., 'V10J25-015')
        required: false
        example: "V10J25-015"

      - type: string
        name: --area
        description: Visium capture area identifier (e.g., 'A1')
        required: false
        example: "A1"

      - type: string
        name: --unknown_slide
        description: Use if slide details are unknown
        required: false
        choices: [visium-1, visium-2, visium-2-large, visium-hd]

      - type: file
        name: --slidefile
        description: Slide design file for offline use
        required: false
        example: "slide_design.gpr"

  - name: Image Options
    arguments:
      - type: file
        name: --darkimage
        description: Multi-channel, dark-background fluorescence image
        required: false
        example: "fluorescence.tif"

      - type: file
        name: --colorizedimage
        description: Color image representing pre-colored dark-background fluorescence images
        required: false
        example: "colored_fluorescence.tif"

      - type: integer
        name: --dapi_index
        description: Index of DAPI channel (1-indexed) of fluorescence image
        required: false
        example: 1

      - type: double
        name: --image_scale
        description: Microns per microscope image pixel
        required: false
        example: 0.65

      - type: boolean
        name: --reorient_images
        default: true
        description: Whether to rotate and mirror image to align fiducial pattern

  - name: Processing Options
    arguments:
      - type: boolean
        name: --create_bam
        required: true
        description: Enable or disable BAM file generation
        default: true

      - type: boolean
        name: --nosecondary
        required: false
        description: Disable secondary analysis (e.g., clustering)
        default: false

      - type: integer
        name: --r1_length
        required: false
        description: Hard trim the input Read 1 to this length before analysis

      - type: integer
        name: --r2_length
        required: false
        description: Hard trim the input Read 2 to this length before analysis

      - type: boolean
        name: --filter_probes
        default: true
        description: Whether to filter the probe set using the "included" column

      - type: integer
        name: --custom_bin_size
        description: Bin Visium HD data to specified size in microns (4-100, even values only) in addition to the standard binning size (2 µm, 8 µm, 16 µm)
        min: 4
        max: 100

  - name: Input Selection
    arguments:
      - type: string
        name: --project
        required: false
        description: Project folder name within mkfastq output
        
      - type: string
        name: --sample
        required: false
        description: Prefix of FASTQ filenames to select

      - type: integer
        name: --lanes
        multiple: true
        required: false
        description: Only use FASTQs from selected lanes
        example: [1,2,3]

  # - name: Resource Management
  #   arguments:
  #     - type: string
  #       name: --jobmode
  #       default: local
  #       description: Job manager to use
  #       choices: [local, sge, lsf, slurm]

  #     - type: integer
  #       name: --localcores
  #       description: Max cores for local jobs
  #       example: 8

  #     - type: integer
  #       name: --localmem
  #       description: Max GB memory for local jobs
  #       example: 16

  #     - type: integer
  #       name: --localvmem
  #       description: Max virtual memory in GB
  #       example: 32

  #     - type: integer
  #       name: --mempercore
  #       description: GB memory per core for cluster jobs
  #       example: 4

  #     - type: integer
  #       name: --maxjobs
  #       description: Max concurrent cluster jobs
  #       example: 24

  #     - type: integer
  #       name: --jobinterval
  #       description: Delay between cluster job submissions (ms)
  #       example: 100

resources:
  - type: bash_script
    path: script.sh
test_resources:
  - type: python_script
    path: test.py
  - path: /src/spaceranger/spaceranger_count/test_data
engines:
  - type: native
runners:
  - type: executable
  - type: nextflow