name: agat_sp_statistics
namespace: agat
description: |
  The script provides exhaustive statistics of a gft/gff file. 
  
  If you have isoforms in your file, even if correct, some values calculated
  might sounds incoherent: e.g. total length mRNA can be superior than the
  genome size. Because all isoforms length is added... It is why by
  default we always compute the statistics twice when there are isoforms,
  once with the isoforms, once without (In that case we keep the longest
  isoform per locus).
keywords: [gene annotations, statistics, gff]
links:
  homepage: https://github.com/NBISweden/AGAT
  documentation: https://agat.readthedocs.io/en/latest/tools/agat_sp_statistics.html
  issue_tracker: https://github.com/NBISweden/AGAT/issues
  repository: https://github.com/NBISweden/AGAT
references: 
  doi: 10.5281/zenodo.3552717
license: GPL-3.0
requirements:
 - commands: [agat]
authors:
  - __merge__: /src/_authors/leila_paquay.yaml
    roles: [ author, maintainer ]

argument_groups:
  - name: Inputs
    arguments:
      - name: --gff
        alternatives: [-i]
        description: Input GTF/GFF file.
        type: file
        required: true
        example: input.gff
      - name: --gs_fasta
        description: |
          Genome size directly from a fasta file to compute more statistics.
        type: file
        example: genome.fasta
  - name: Outputs
    arguments:
      - name: --output
        alternatives: [-o]
        description: |
          The file where the results will be written.
        type: file
        direction: output
        required: true
        example: output.txt
  - name: Options
    arguments:
      - name: --plot
        alternatives: [-p, -d]
        description: |
          When this option is used, an histogram of distribution of the features will be printed in pdf files.
        type: boolean_true
      - name: --gs_size
        description: |
          Genome size in nucleotides to compute more statistics.
        type: integer
        example: 1000000
      - name: --verbose
        alternatives: [-v]
        description: |
          Verbose option. To modify verbosity. Default is 1. 0 is quiet, 2 and 3 are increasing verbosity.
        type: integer
        example: 1
      - name: --config
        alternatives: [-c]
        description: |
          AGAT config file. By default AGAT takes the original agat_config.yaml shipped with AGAT. The `--config`
          option gives you the possibility to use your own AGAT config file (located elsewhere or named differently).
        type: file
        example: custom_agat_config.yaml
resources:
  - type: bash_script
    path: script.sh
test_resources:
  - type: bash_script
    path: test.sh
  - type: file
    path: test_data
engines:
  - type: docker
    image: quay.io/biocontainers/agat:1.4.0--pl5321hdfd78af_0
    setup:
      - type: docker
        run: |
          agat --version | sed 's/.*v\.//; s/\s.*//' | sed 's/^/AGAT: /' > /var/software_versions.txt
runners:
  - type: executable
  - type: nextflow